[Unit]
Description=feedsd service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/feedreader/bin/feedsd
ExecReload=/bin/kill -HUP $MAINPID
RuntimeDirectory=feedreader
RuntimeDirectoryMode=0750
WorkingDirectory=/run/feedreader
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
User=www-data
Group=www-data
Nice=10

[Install]
WantedBy=multi-user.target
